* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.container {
    width: 100%;
    position: relative;
    height: 100%;
}
.container header {
    width: 100%;
    height: 250px;
    background: #000;
}
header .top {
    padding: 8px 15px;
    position: relative;
    border-bottom: 1px solid silver;
}
.top span {
    margin-right: 10px;
    font-weight: 800;
    color: gray;
}
header .logo {
    height: 150px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo .brand {
    position: relative;
    padding-top: 5px;
    font-weight: 600;
    font-size: 32px;
    color: azure;
    left: 55px;
}
.logo .input {
    width: 250px;
    height: 40px;
    background: rgba(240, 255, 255, 0.123);
    position: relative;
    right: 55px;
    display: flex;
    align-items: center;
    padding: 8px;
}
.logo .input input {
    width: 100%;
    background: transparent;
    border: none;
    padding: 5px 10px;
}
.logo .input input::placeholder {
    font-style: italic;
    font-size: 18px;
}
.logo .input i {
    position: absolute;
    color: gray;
    right: 15px;
}
.container nav {
    position: relative;
    width: 100%;
    height: 65px;
    background: #ffb606;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-around;
}
nav a {
    padding: 10px 12px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    border-right: 1px solid #0000194b;
    text-decoration: none;
}
section {
    position: relative;
    width: 100%;
    min-height: 500px;
}
section#about .wrapp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}
.wrapp .col {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.col h3 {
    font-size: 48px;
    width: 100%;
    position: relative;
    padding-left: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
}
.col p {
    width: 100%;
    position: relative;
    padding-left: 15px;

}
.col img {
    width: 80%;
    position: relative;
}
section#life {
    position: relative;
    width: 100%;
}
section h2 {
    text-align: center;
    width: 100%;
    position: relative;
    font-size: 38px;
    margin: 25px 0;
    border-bottom: 1px solid #000016;
    background-color: #ffb606;
}
section#life .life {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.life .box {
    position: relative;
    width: 400px;
    height: 300px;
}
.life .box img {
    position: relative;
    width: 100%;
    height: 100%;
}
.students {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    gap: 25px;
    padding: 0 40px;
}
.students .col {
    padding: 20px;
    border-radius: 5px;
    background-color: #ffb606;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-around;
}
.students .col p {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
.kvotalar {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 15px 25px;
}
.kvotalar .box {
    padding: 20px;
    border-radius: 5px;
    background-color: #ffb606;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-around;
}
.kvotalar .box p {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    border-right: 3px solid #000;
    font-size: 28px;
    font-weight: 700;
    width: 100%;
}
.news {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}
.news .line {
    background: #ffb606;
    position: relative;
    width: 100%;
    padding: 15px;
}
.news .line span {
    font-weight: 800;
    font-size: 24px;
    position: relative;
}
.news .line p {
    font-size: 24px;
    position: relative;
}
section#hamkor {
    background: #ffb606;
}
.sponsor {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* height: 100%; */
    width: 100%;
}
.sponsor .col {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    position: relative;
    /* height: 100%; */
}
.sponsor .col img {
    position: relative;
    width: 100%;
}
section#aloqa {
    background: #000;
    position: relative;
    width: 100%;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    padding-top: 30px;
    position: relative;
    width: 100%;
}
.footer .col .brand {
    position: relative;
    font-weight: 600;
    font-size: 32px;
    color: azure;
}
.footer .col {
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 20px;
}
.footer .col span {
    position: relative;
    font-size: 18px;
    color: gray;
}
.footer .col h3 {
    text-decoration: none;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: azure;
}
.footer .col a {
    text-decoration: none;
    position: relative;
    font-size: 20px;
    color: gray;
    padding-left: 15px;
}